In [1]:
1 + 1

2

In [2]:
2**4

16

In [3]:
2*4

8

In [5]:
x = 2
y = 3
z = x + y

In [6]:
z

5

In [7]:
x = 'hello'
print (x)

hello

In [11]:
num = 12
name = 'Sam'
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [13]:
age = 36
my_name = "Muhammad Abdul Basit"
print(f"my name is {my_name}, and my age is {age}")

my name is Muhammad Abdul Basit, and my age is 36

In [14]:
[1,2,3]

[1, 2, 3]

In [16]:
['hi', 1, [1,2]]

['hi', 1, [1, 2]]

In [17]:
my_list = ['a','b','c']
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

In [19]:
my_list.insert(2, "m")
my_list

['a', 'b', 'm', 'm', 'c', 'd']

In [20]:
my_list[0]

'a'

In [21]:
my_list[1]

'b'

In [22]:
my_list[1:]

['b', 'm', 'm', 'c', 'd']

In [23]:
my_list[:1]

['a']

In [24]:
my_list[0]="NEW"
my_list

['NEW', 'b', 'm', 'm', 'c', 'd']

In [25]:
nest = [1,2,3,[4,5, ['target']]]
nest

[1, 2, 3, [4, 5, ['target']]]

In [26]:
nest[3]

[4, 5, ['target']]

In [28]:
nest[3][2]

['target']

In [29]:
nest[3][2][0]

'target'

In [30]:
d = {'key1':'item1','key2':'item2'}
d["key1"]

'item1'

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\computer arena\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\computer arena\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\computer arena\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\computer arena\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\computer arena\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import pandas as pd

In [5]:

my_dict = {
    "Names" : ["Mohd" , "Asad" , "Zahid" , "Salman"],
    "Marks" : [55,66,77,88],
    "CGPA" : [2.5, 3, 3.2, 3.5]
}
df=pd.DataFrame(my_dict)
df

    Names  Marks  CGPA
0    Mohd     55   2.5
1    Asad     66   3.0
2   Zahid     77   3.2
3  Salman     88   3.5

In [6]:
True

True

In [7]:
False

False

In [8]:
t = (1,2,3)
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [9]:
t[0]

1

In [10]:
t[1]

2

In [11]:
{1,2,3}

{1, 2, 3}

In [12]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [13]:
1 < 2

True

In [14]:
1 > 2

False

In [15]:
1 >= 1

True

In [16]:
1 <= 4

True

In [17]:
1 == 1

True

In [18]:
'hi' == 'bye'

False

In [19]:
(1 > 2) and (2 < 3)

False

In [20]:
(1 > 2) or (2 < 3)

True

In [21]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [22]:
(1 == 2) or (2 == 3) or (4 == 4.0)

True

In [3]:
if 1 < 2:
    print('Yep!')

Yep!

In [4]:
if 1 < 2:
    print('yep!')

yep!

In [6]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [7]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [8]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('last')

middle

In [14]:
brand = "polo"
price = 1000
if brand == "polo":
    print("You have got a nice brand")
elif price == 1200:
    print("Price is reasonable")
else:
    print("You are out of brand and cash")

You have got a nice brand

In [15]:
seq = [1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

In [16]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [17]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

In [18]:
i = 1
while i <10:
    print('i is: {}' .format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5
i is: 6
i is: 7
i is: 8
i is: 9

In [19]:
range(5)

range(0, 5)

In [20]:
range(1,10)

range(1, 10)

In [21]:
for i in range(5):
    print(i)

0
1
2
3
4

In [22]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [23]:
list(range(5))

[0, 1, 2, 3, 4]

In [24]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [25]:
x = [1,2,3,4]
out = []
for item in x:
    out.append(item**2)
    print(out)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]

In [26]:
[item**2 for item in x]

[1, 4, 9, 16]

In [27]:
[3*i for i in x]

[3, 6, 9, 12]

In [30]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [31]:
my_func()

default

In [32]:
my_func('new param')

new param

In [33]:
my_func(param1='new param')

new param

In [34]:
def square(x):
    return x**2

In [35]:
out = square(2)

In [36]:
print(out)

4

In [37]:
def sum_of_nums(num1, num2):
    new_num = num1 + num2
    return new_num

In [38]:
sum_of_nums(2,3)

5

In [39]:
def times2(var):
    return var*2

In [40]:
times2(2)

4

In [41]:
sqar = lambda var: var*2
print(sqar)

<function <lambda> at 0x000002D1DDFE0940>

In [43]:
seq = [1,2,3,4,5]
map(times2,seq)

In [44]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [45]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [47]:
fil = filter(lambda item: item%2 == 0,seq)
fil

In [48]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

In [49]:
st = 'hello my name is Sam'

In [50]:
st.lower()

'hello my name is sam'

In [51]:
st.upper()

'HELLO MY NAME IS SAM'

In [52]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [53]:
tweet = 'Go Sports! #Sports'

In [54]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [55]:
tweet.split('#')[1]

'Sports'

In [56]:
email = "ab.muhammad3112@gmail.com"

In [57]:
email.split()

['ab.muhammad3112@gmail.com']

In [58]:
email.split('@')

['ab.muhammad3112', 'gmail.com']

In [62]:
d = {'key1': 'item1', 'key2': 'item2'}

In [63]:
d.keys()

dict_keys(['key1', 'key2'])

In [64]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [65]:
lst = [1,2,3]

In [66]:
lst.pop()

3

In [67]:
lst

[1, 2]

In [68]:
'x' in [1,2,3]

False

In [69]:
'x' in ['x','y','z']

True

In [72]:
print(2+3)

5